  @import "main";

/*Custom CSS*/
.pad-left-10{
padding-left:10%
}

.pad-right-10{
padding-right:10%
}

.wizard-input{
margin-top: 20% !important;
}

.improved{
  color:#5FAC70;
}

.declined{
  color:#F16764;
}

//button section
.md-button.md-accent.md-fab {
  &.fab-toolbar-medium {
    float: right;
    right: 25px;
    padding: 15px;
    line-height: 0 !important;
    margin-top: -29px;

    i {
      vertical-align: text-top;
      font-size: x-large;
      color: $color_white;
    }
  }

  &.fab-footer {
    float: right;
    right: 5px;
    padding: 15px;
    line-height: 0 !important;
    margin-bottom: 25px;
    margin-top: -65px;

    i {
      vertical-align: text-top;
      font-size: x-large;
      color: $color_white;
    }
  }
}

//footer fab bar
.footer-fab-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px !important;
}//end footer fab bar

.chipsdemoContactChips md-content.autocomplete {
min-height: 250px; }
.chipsdemoContactChips md-content.autocomplete input {
min-width: 400px; }

.chipsdemoContactChips .md-item-text.compact {
padding-top: 8px;
padding-bottom: 8px; }

.chipsdemoContactChips .contact-item {
box-sizing: border-box; }
.chipsdemoContactChips .contact-item.selected {
opacity: 0.5; }
.chipsdemoContactChips .contact-item.selected h3 {
opacity: 0.5; }
.chipsdemoContactChips .contact-item .md-list-item-text {
padding: 14px 0;
max-width: 190px; }
.chipsdemoContactChips .contact-item .md-list-item-text h3 {
margin: 0 !important;
padding: 0;
line-height: 1.2em !important; }
.chipsdemoContactChips .contact-item .md-list-item-text h3, .chipsdemoContactChips .contact-item .md-list-item-text p {
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden; }
@media screen and (min-width: 960px) {
.chipsdemoContactChips .contact-item {
float: left;
width: 33%; } }

.chipsdemoContactChips md-contact-chips {
margin-bottom: 10px; }

.chipsdemoContactChips .md-chips {
padding: 5px 0 8px; }

.chipsdemoContactChips .fixedRows {
height: 250px;
overflow: hidden; }
