  @import "main";

/*Custom CSS*/
.pad-left-10{
padding-left:10%
}

.pad-right-10{
padding-right:10%
}

.improved{
  color:#5FAC70;
}

.declined{
  color:#F16764;
}

//button section
.md-button.md-accent.md-fab {
  &.fab-toolbar-medium {
    float: right;
    right: 25px;
    padding: 15px;
    line-height: 0 !important;
    margin-top: -29px;

    i {
      vertical-align: text-top;
      font-size: x-large;
      color: $color_white;
    }
  }

  &.fab-footer {
    float: right;
    right: 5px;
    padding: 15px;
    line-height: 0 !important;
    margin-bottom: 25px;
    margin-top: -65px;

    i {
      vertical-align: text-top;
      font-size: x-large;
      color: $color_white;
    }
  }
}

//footer fab bar
.footer-fab-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px !important;
}//end footer fab bar
