<ion-view title="Dashboard" id="expense-dashboard" class="dashboardClass">

    <!--expense toolbar section-->
    <md-toolbar class="bar-subheader md-tall md-primary toolbar-expense">
        <div>
            <canvas id="overviewChart" class="chart chart-line" colours="colours"></canvas>
        </div>
        <div class="dashboard-overview">
            <h2>Can Spend</h1>

            <h1>{{overview.canSpend| currency}}</h2>
        </div>
    </md-toolbar><!--end expense toolbar section-->

    <!--expense content section-->
    <ion-content id="expense-dashboard-content">

        <!--Below code it will disable animation to better performance-->
        <div ng-if="!isAnimated" class="list-expense-menu">
            <div class="list-expense-menu-item">
                <div class="row">
                    <div class="col-20">
                        <i class="fa fa-money"></i>
                    </div>
                    <div class="col-80 menu">
                        <p class="header">Monthly Balance</p>

                        <p class="detail">{{overview.balance| currency}}</p>
                        <p class="header">Average Balance</p>

                        <p class="detail">{{overview.balanceAverage | currency}}</p>
                    </div>
                </div>
            </div>
            <div class="list-expense-menu-item"  ng-click="navigateTo('app.expenses')">
                <div class="row">
                    <div class="col-20">
                        <i class="fa fa-money"></i>
                    </div>
                    <div class="col-80 menu">
                        <p class="header">Monthly Expense</p>

                        <p class="detail">{{overview.expenses| currency}}</p>
                        <p class="header">Average Monthly Expense</p>

                        <p class="detail">{{overview.expenseAverage|currency}}</p>
                    </div>
                </div>
            </div>
            <div class="list-expense-menu-item"  ng-click="navigateTo('app.goals')">
                <div class="row">
                    <div class="col-20">
                        <i class="fa fa-money"></i>
                    </div>
                    <div class="col-80 menu">
                        <p class="header">Goals</p>

                        <p class="detail">{{overview.savedInGoals| currency}}</p>
                    </div>
                </div>
            </div>
        </div>

    </ion-content><!--end expense content section-->
</ion-view>
