#expense-dashboard .toolbar-expense {
  max-height: 260px !important;
  height: 260px !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); }
  #expense-dashboard .toolbar-expense div {
    padding: 26px 10px 10px 10px;
    text-align: center;
    height: inherit !important; }
  #expense-dashboard .toolbar-expense h1 {
    color: white;
    font-size: 30px;
    font-weight: 400; }
  #expense-dashboard .toolbar-expense h2 {
    color: white;
    font-size: 16px; }
  #expense-dashboard .toolbar-expense h3 {
    color: white;
    font-size: 28px !important; }
  #expense-dashboard .toolbar-expense img.user-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 0; }

#expense-dashboard #expense-dashboard-content {
  margin-top: 256px; }
  #expense-dashboard #expense-dashboard-content md-list-item {
    margin: 0; }
    #expense-dashboard #expense-dashboard-content md-list-item.row {
      padding: 0 !important;
      height: 66px !important; }
    #expense-dashboard #expense-dashboard-content md-list-item .icon {
      font-size: 30px;
      text-align: center;
      color: gray;
      margin-top: -6px; }
    #expense-dashboard #expense-dashboard-content md-list-item .menu {
      padding-left: 8px; }
      #expense-dashboard #expense-dashboard-content md-list-item .menu .header {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 0;
        padding-top: 6px; }
      #expense-dashboard #expense-dashboard-content md-list-item .menu .detail {
        font-size: 12px;
        color: gray;
        margin-bottom: 0;
        margin-top: -16px; }
    #expense-dashboard #expense-dashboard-content md-list-item button {
      padding: 10px; }
  #expense-dashboard #expense-dashboard-content div.list-expense-menu {
    margin-top: 14px; }
    #expense-dashboard #expense-dashboard-content div.list-expense-menu div.list-expense-menu-item {
      margin-top: 9px; }
      #expense-dashboard #expense-dashboard-content div.list-expense-menu div.list-expense-menu-item div.row {
        position: relative;
        height: 100px;
        padding: 24px;
        border: none;
        border-bottom: 1px solid #E1E1E1; }
        #expense-dashboard #expense-dashboard-content div.list-expense-menu div.list-expense-menu-item div.row div.col-20 {
          padding-left: 0;
          margin-top: -16px;
          font-size: 30px;
          color: gray; }
        #expense-dashboard #expense-dashboard-content div.list-expense-menu div.list-expense-menu-item div.row div.col-80.menu .header {
          font-size: 15px;
          font-weight: 500;
          margin-bottom: 0;
          padding-top: 6px; }
        #expense-dashboard #expense-dashboard-content div.list-expense-menu div.list-expense-menu-item div.row div.col-80.menu .detail {
          font-size: 12px;
          color: gray;
          margin-bottom: 0; }

#overviewChart {
  width: 100% !important;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1; }

.dashboard-overview {
  position: absolute;
  top: 0px;
  margin: 0 auto;
  width: 100%; }
