/*Custom CSS*/
.pad-left-10 {
  padding-left: 10%; }

.pad-right-10 {
  padding-right: 10%; }

.wizard-input {
  margin-top: 20% !important; }

progress {
  margin: 2%;
  display: block;
  /* Important Thing */
  -webkit-appearance: none;
  border: none; }

/* All good till now. Now we'll style the background */
progress::-webkit-progress-bar {
  background: #F1F1F1;
  border-radius: 50px;
  padding: 2px;
  box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2); }

/* Now the value part */
progress::-webkit-progress-value {
  border-radius: 50px;
  box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
  background: -webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)), -webkit-linear-gradient(left, #66BB6A, #66BB6A);
  /* Looks great, now animating it */
  background-size: 25px 14px, 100% 100%, 100% 100%;
  -webkit-animation: move 5s linear 0 infinite; }

/* That's it! Now let's try creating a new stripe pattern and animate it using animation and keyframes properties  */
@-webkit-keyframes move {
  0% {
    background-position: 0px 0px, 0 0, 0 0; }
  100% {
    background-position: -100px 0px, 0 0, 0 0; } }

/* Prefix-free was creating issues with the animation */
.chipsdemoContactChips md-content.autocomplete {
  min-height: 250px; }

.chipsdemoContactChips md-content.autocomplete input {
  min-width: 400px; }

.chipsdemoContactChips .md-item-text.compact {
  padding-top: 8px;
  padding-bottom: 8px; }

.chipsdemoContactChips .contact-item {
  box-sizing: border-box; }

.chipsdemoContactChips .contact-item.selected {
  opacity: 0.5; }

.chipsdemoContactChips .contact-item.selected h3 {
  opacity: 0.5; }

.chipsdemoContactChips .contact-item .md-list-item-text {
  padding: 14px 0;
  max-width: 190px; }

.chipsdemoContactChips .contact-item .md-list-item-text h3 {
  margin: 0 !important;
  padding: 0;
  line-height: 1.2em !important; }

.chipsdemoContactChips .contact-item .md-list-item-text h3, .chipsdemoContactChips .contact-item .md-list-item-text p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

@media screen and (min-width: 960px) {
  .chipsdemoContactChips .contact-item {
    float: left;
    width: 33%; } }

.chipsdemoContactChips md-contact-chips {
  margin-bottom: 10px; }

.chipsdemoContactChips .md-chips {
  padding: 5px 0 8px; }

.chipsdemoContactChips .fixedRows {
  height: 250px;
  overflow: hidden; }
